annotated-doc==0.0.4
click==8.3.1
colorama==0.4.6
comtypes==1.4.16
markdown-it-py==4.0.0
mdurl==0.1.2
Pygments==2.20.0
pywin32==311
pywinauto==0.6.9
rich==14.3.3
shellingham==1.5.4
six==1.17.0
typer==0.24.1
